<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nathan Jones | Software Developer</title>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "font-awesome.min.css" %>
    <%= javascript_include_tag "main" %>
    <%= javascript_include_tag "hoverText" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= partial "partials/analytics" %>
  </body>
</html>
